	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="https://19-1-skku-oss.github.io/2019-1-OSS-E5/">Home</a></li>
			<li>
				<a href="#">About</a>
				<ul class="dl-submenu">
					<li>
						<img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/40/Sungkyunkwan_University_seal.svg/1200px-Sungkyunkwan_University_seal.svg.png" alt="{{ site.title }} photo" class="author-photo">
						<h4>2019-1-OSS-E5</h4>
						<p>About Team E5</p>
					</li>
					<li><a href="https://19-1-skku-oss.github.io/2019-1-OSS-E5/about/"><span class="btn btn-inverse">Learn More</span></a></li>
					
                    {% if site.github-url %}<li>
                        <a href="https://github.com/19-1-skku-oss/2019-1-OSS-E5" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i> Github</a>
                    </li>{% endif %}
                    
				</ul><!-- /.dl-submenu -->
			</li>
			<li>
				<a href="#">Posts</a>
				<ul class="dl-submenu">
					<li><a href="https://19-1-skku-oss.github.io/2019-1-OSS-E5/posts/">All Posts</a></li>
					<li><a href="https://19-1-skku-oss.github.io/2019-1-OSS-E5/tags/">All Tags</a></li>
				</ul>
			</li>
			<!-->
			{% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
			<!-->
		    <li><a href="https://19-1-skku-oss.github.io/2019-1-OSS-E5/projects/">Projects</a></li>
		  {% endfor %}
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
