---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="https://19-1-skku-oss.github.io/2019-1-OSS-E5/">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/40/Sungkyunkwan_University_seal.svg/1200px-Sungkyunkwan_University_seal.svg.png" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="https://19-1-skku-oss.github.io/2019-1-OSS-E5/">
                        	<p style="font-size:1.2rem;font-weight:300">2019-1-OSS-E5</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="https://github.com/19-1-skku-oss/2019-1-OSS-E5">
                        	<p style="font-size:1rem;font-weight:300">Our work is related with making helpful python algorithm for educator. If you have any question, please send email to jaewan7599@skku.edu.</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="https://19-1-skku-oss.github.io/2019-1-OSS-E5//about">
                         About
                         </a>
                         <a class="btn zoombtn" href="https://19-1-skku-oss.github.io/2019-1-OSS-E5//posts">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="https://19-1-skku-oss.github.io/2019-1-OSS-E5//projects">
                         Projects
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
